<div class="container">
  <h1>FILMS</h1>
  <div class="titles">
        <% for film in @films %>
        <ul>
          <a href="/films/<%= film.id %>"><li>
            <%= film.title%>
          </li></a>
        </ul>
       <% end %>
  </div>
</div>
